xmls/transit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DirectionsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element name="route" type="routeType"/>
				<xs:element name="geocoded_waypoint" type="geocoded_waypointType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="boundsType">
		<xs:sequence>
			<xs:element name="southwest" type="southwestType"/>
			<xs:element name="northeast" type="northeastType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="copyrights">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Map data ©2016 Google"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="distanceType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="durationType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="end_address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Via Tiburtina, 7041, 00156 Roma, Italy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="end_locationType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geocoded_waypointType">
		<xs:sequence>
			<xs:element ref="geocoder_status"/>
			<xs:element ref="type"/>
			<xs:element ref="place_id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="geocoder_status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OK"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="html_instructions">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Head&lt;div style=&quot;font-size:0.9em&quot;&gt;Restricted usage road&lt;/div&gt;"/>
				<xs:enumeration value="Walk to Via Tiburtina, 7041, 00156 Roma, Italy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lat">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="41.9257468"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="legType">
		<xs:sequence>
			<xs:element name="step" type="stepType"/>
			<xs:element name="duration" type="durationType"/>
			<xs:element name="distance" type="distanceType"/>
			<xs:element name="start_location" type="start_locationType"/>
			<xs:element name="end_location" type="end_locationType"/>
			<xs:element ref="start_address"/>
			<xs:element ref="end_address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="lng">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="12.5725988"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="northeastType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="overview_polylineType">
		<xs:sequence>
			<xs:element ref="points"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="place_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ChIJbSnu_pxjLxMRPUAlr1vwnkc"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="points">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="}r{~FwqvkA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="polylineType">
		<xs:sequence>
			<xs:element ref="points"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="routeType">
		<xs:sequence>
			<xs:element ref="summary"/>
			<xs:element name="leg" type="legType"/>
			<xs:element ref="copyrights"/>
			<xs:element name="overview_polyline" type="overview_polylineType"/>
			<xs:element ref="warning"/>
			<xs:element name="bounds" type="boundsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="southwestType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="start_address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Via Tiburtina, 7041, 00156 Roma, Italy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="start_locationType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OK"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="stepType">
		<xs:sequence>
			<xs:element ref="travel_mode"/>
			<xs:element name="start_location" type="start_locationType"/>
			<xs:element name="end_location" type="end_locationType"/>
			<xs:element name="polyline" type="polylineType"/>
			<xs:element name="duration" type="durationType"/>
			<xs:element ref="html_instructions"/>
			<xs:element name="distance" type="distanceType"/>
			<xs:element name="step" type="stepType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="summary" type="xs:string"/>
	<xs:element name="text">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1 m"/>
				<xs:enumeration value="1 min"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="travel_mode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WALKING"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="street_address"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="warning">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Walking directions are in beta.    Use caution – This route may be missing sidewalks or pedestrian paths."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
