xsd/HelpMeTro.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DirectionsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element name="route" type="routeType"/>
				<xs:element name="geocoded_waypoint" type="geocoded_waypointType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="boundsType">
		<xs:sequence>
			<xs:element name="southwest" type="southwestType"/>
			<xs:element name="northeast" type="northeastType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="copyrights" type="xs:string"/>
	<xs:complexType name="distanceType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="durationType">
		<xs:sequence>
			<xs:element ref="value"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="end_address" type="xs:string"/>
	<xs:complexType name="end_locationType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geocoded_waypointType">
		<xs:sequence>
			<xs:element ref="geocoder_status"/>
			<xs:element ref="type"/>
			<xs:element ref="place_id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="geocoder_status" type="xs:string"/>
	<xs:element name="html_instructions" type="xs:string"/>
	<xs:element name="lat" type="xs:string"/>
	<xs:complexType name="legType">
		<xs:sequence>
			<xs:element name="step" type="stepType"/>
			<xs:element name="duration" type="durationType"/>
			<xs:element name="distance" type="distanceType"/>
			<xs:element name="start_location" type="start_locationType"/>
			<xs:element name="end_location" type="end_locationType"/>
			<xs:element ref="start_address"/>
			<xs:element ref="end_address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="lng" type="xs:string"/>
	<xs:complexType name="northeastType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="overview_polylineType">
		<xs:sequence>
			<xs:element ref="points"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="place_id" type="xs:string"/>
	<xs:element name="points" type="xs:string"/>
	<xs:complexType name="polylineType">
		<xs:sequence>
			<xs:element ref="points"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="routeType">
		<xs:sequence>
			<xs:element ref="summary"/>
			<xs:element name="leg" type="legType"/>
			<xs:element ref="copyrights"/>
			<xs:element name="overview_polyline" type="overview_polylineType"/>
			<xs:element ref="warning"/>
			<xs:element name="bounds" type="boundsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="southwestType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="start_address" type="xs:string"/>
	<xs:complexType name="start_locationType">
		<xs:sequence>
			<xs:element ref="lat"/>
			<xs:element ref="lng"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="status" type="xs:string"/>
	<xs:complexType name="stepType">
		<xs:sequence>
			<xs:element ref="travel_mode"/>
			<xs:element name="start_location" type="start_locationType"/>
			<xs:element name="end_location" type="end_locationType"/>
			<xs:element name="polyline" type="polylineType"/>
			<xs:element name="duration" type="durationType"/>
			<xs:element ref="html_instructions"/>
			<xs:element name="distance" type="distanceType"/>
			<xs:element name="step" type="stepType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="summary" type="xs:string"/>
	<xs:element name="text" type="xs:string"/>
	<xs:element name="travel_mode" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="warning" type="xs:string"/>
</xs:schema>
